:root {
    /* --color-orange: #fd9833; */
    /* --color-orange: #f2b860; */
    --color-orange: #feae37; 
    /* --color-green: #5db479; */
    --color-green: #59AC74;
    --color-gray: #737373;
}

@media (min-width: 576px) { /* >= small screen */

}

@media (min-width: 768px) { /* >= medium screen */
    .rotate-text-wrapper { /* rotated text for email in home page */
        position: relative;
        height: 300px;
        min-width: 35px;
    }
    .rotate-text { /* rotated text for email in home page */
        position: absolute;
        transform: rotate(-90deg);
        transform-origin: left;
        width: max-content;
        bottom: 0px;
        left: 50%;
    }
    .full-page { /* enforce full page for home page */
        height: 80vh;
        max-height: 1000px;
        min-height: 450px;
    }
    .chap-decor { /* chapter decoration pattern */ 
        height: 70px !important;
    }
    .gallery {
        grid-template-columns: repeat(2, 50%) !important;
        grid-auto-columns: 50% !important;
    }
    .timeline {
        display: grid !important;
        grid-template-columns: 1fr 5% 5fr;
    }
    .timeline .timeline-header, .timeline .timeline-year {
        grid-row: 1;
        grid-column: 1;
        text-align: right;
    }
    .timeline .timeline-main {
        grid-row: 1;
        grid-column: 3;
        text-align: left;
    }
    .timeline .vertical-line {
        grid-row: 1;
        grid-column: 2;
        box-shadow: 0px 0px 0px 1.5px var(--color-orange);
        margin: 0 50%;
        padding: 11px 0;
    }
    .timeline .vertical-line .dot {
        box-shadow: 0px 0px 0px 4px var(--color-orange);
        margin: 50%;
    }
}

@media (min-width: 992px) { /* >= large screen */
    .dropdown:hover .dropdown-menu { /* navbar hover over displays drop down */
        display: block;
        margin-top: 0; /* remove the gap so it doesn't close */
    }
    .gallery {
        grid-template-columns: repeat(3, 33.3333%) !important;
        grid-auto-columns: 33.3333% !important;
    }
    .timeline {
        grid-template-columns: 1fr 5% 1fr !important;
    }
    .timeline .timeline-main.even {
        grid-column: 1 !important;
        text-align: right !important;
    }
    .timeline .timeline-header.even {
        grid-column: 3 !important;
        text-align: left !important;
    }
}

html {
    scroll-padding-top: 4rem; /* prevent anchor link to scroll behind sticky navbar */
}

body { /* font */
    font-family: 'Vollkorn', 'Roboto', 'Arial';
}

.flex-row-break { /* enforce new line in navbar offcanvas dropdown */
    flex-basis: 100%;
    height: 0;
}

.wd-num { /* width of the number column in publication page */
    width: 35px; /* 50px; */
}

.wd-yr { /* width of the year column in publication page */
    width: 110px;
}

.color-theme { /* primary color */
    color: var(--color-orange);
}

.color-subtheme { /* secondary color */
    color: var(--color-green);
}

.bg-color-theme { /* background color */
    background-color: var(--color-orange);
}

.bg-color-subtheme { /* background color */
    background-color: var(--color-green);
}

.bg-color-light { /* background color */
    background-color: var(--color-gray);
}

.color-light { /* secondary text color */
    color: var(--color-gray);
}

.navbar-opacity { /* navigation bar opacity */
    --bs-bg-opacity: 0.95;
}

.card:hover { /* highlight card when hover over */
    /* filter: drop-shadow(0px 2px 4px var(--color-gray)); */
}

.rounding-0 { /* remove corner rounding */
    border-radius: 0;
}

.card-img-standout { /* highlight image with white background */
    filter: drop-shadow(0px 1px 2px var(--color-gray));
}

.chap-decor { /* chapter decoration pattern size on <=small screen*/ 
    height: 40px;
}

.nobr { /* avoid line break */
    white-space: nowrap;
}

.font-theme {
    font-family: 'Vollkorn';
}

.font-subtheme {
    font-family: 'Roboto';
}

.text-link {
    text-decoration: none;
    color: inherit;
}

.text-link:hover {
    text-decoration: underline;
    text-decoration-color: var(--color-green);
    color: inherit;
}

.img-box {
    overflow: hidden;
}

.img-box-white {
    box-shadow: 0px 0px 1px var(--color-gray);
}

.img-fit-white {
    object-fit: contain;
}

.img-fit-dark {
    object-fit: cover;
}

.img-size-pub {
    width: 160px;
    height: 125px;
}

.img-size-news {
    width: 150px;
    height: 150px;
}

.img-link {
    transition: all 0.5s ease-in-out;
}

.img-link:hover {
    transform: scale(1.05);
}

.fs-smaller {
    font-size: smaller;
}

.fs-inherit {
    font-size: inherit;
}

/* .badge-line {
    color: var(--color-gray);
    background-color: transparent;
    border-radius: 5%;
    border: 1.5px solid var(--color-gray);
    font-size: inherit;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: bold;
} */

a.headerlink {
    color: var(--color-green);
    opacity: 0;
    font-size: .8em;
    padding: 0 4px;
    margin-left: .2em;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
    user-select: none
}

p:hover a.headerlink {
    opacity: 0.5
}

p a.headerlink:hover {
    opacity: 1
}

.gallery {
    overflow-x: scroll; 
    display: grid;
    grid-template-columns: repeat(1, 100%);
    grid-auto-columns: 100%;
}

.gallery::-webkit-scrollbar {
    display: none;
}

.gallery div {
    grid-row: 1;
    display: flex;
    /* box-shadow: 0px 0px 1px 1.5px var(--color-gray); */
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    margin: 8%;
    padding: 11%;
}

.gallery div img {
    width: 100%;
    margin: auto;
    /* filter: grayscale(100); */
    transition: all 0.5s ease-in-out;
}

.gallery div img:hover {
    /* filter: grayscale(0); */
    /* cursor: pointer; */
    transform: scale(1.1);
}

#back-button, #forward-button {
    width: 30px;
    padding: 5px;
    cursor: pointer;
    opacity: 0.5;
    transition: all 0.5s ease-in-out;
}

#back-button:hover, #forward-button:hover {
    opacity: 1;
}

.timeline {
    display: flex;
    flex-direction: column;
}
