:root {
    /* --color-orange: #fd9833; */
    /* --color-orange: #f2b860; */
    --color-orange: #feae37; 
    /* --color-green: #5db479; */
    --color-green: #59AC74;
    --color-gray: #737373;
}

@media (min-width: 768px) { /* >= small screen */
    .rotate-text-wrapper { /* rotated text for email in home page */
        position: relative;
        height: 300px;
        min-width: 35px;
    }
    .rotate-text { /* rotated text for email in home page */
        position: absolute;
        transform: rotate(-90deg);
        transform-origin: left;
        width: max-content;
        bottom: 0px;
        left: 50%;
    }
    .full-page { /* enforce full page for home page */
        height: 80vh;
        max-height: 1000px;
        min-height: 450px;
    }
    .chap-decor { /* chapter decoration pattern */ 
        height: 70px !important;
    }
}

@media (min-width: 992px) { /* >= large screen */
    .dropdown:hover .dropdown-menu { /* navbar hover over displays drop down */
        display: block;
        margin-top: 0; /* remove the gap so it doesn't close */
    }
}

html {
    scroll-padding-top: 4rem; /* prevent anchor link to scroll behind sticky navbar */
}

body { /* font */
    font-family: 'Vollkorn', 'Roboto', 'Arial';
}

.flex-row-break { /* enforce new line in navbar offcanvas dropdown */
    flex-basis: 100%;
    height: 0;
}

.wd-num { /* width of the number column in publication page */
    width: 35px; /* 50px; */
}

.wd-yr { /* width of the year column in publication page */
    width: 110px;
}

.color-theme { /* primary color */
    color: var(--color-orange);
}

.color-subtheme { /* secondary color */
    color: var(--color-green);
}

.bg-color-theme { /* background color */
    background-color: var(--color-orange);
}

.bg-color-subtheme { /* background color */
    background-color: var(--color-green);
}

.bg-color-light { /* background color */
    background-color: var(--color-gray);
}

.color-light { /* secondary text color */
    color: var(--color-gray);
}

.navbar-opacity { /* navigation bar opacity */
    --bs-bg-opacity: 0.95;
}

.card:hover { /* highlight card when hover over */
    /* filter: drop-shadow(0px 2px 4px var(--color-gray)); */
}

.rounding-0 { /* remove corner rounding */
    border-radius: 0;
}

.card-img-standout { /* highlight image with white background */
    filter: drop-shadow(0px 1px 2px var(--color-gray));
}

.chap-decor { /* chapter decoration pattern size on <=small screen*/ 
    height: 40px;
}

.nobr { /* avoid line break */
    white-space: nowrap;
}

.font-theme {
    font-family: 'Vollkorn';
}

.font-subtheme {
    font-family: 'Roboto';
}

.text-link {
    text-decoration: none;
    color: inherit;
}

.text-link:hover {
    text-decoration: underline;
    text-decoration-color: var(--color-green);
    color: inherit;
}

.img-box {
    overflow: hidden;
}

.img-box-white {
    box-shadow: 0px 0px 1px var(--color-gray);
}

.img-fit-white {
    object-fit: contain;
}

.img-fit-dark {
    object-fit: cover;
}

.img-size-pub {
    width: 160px;
    height: 125px;
}

.img-link {
    transition: all 0.4s ease-in-out;
}

.img-link:hover {
    transform: scale(1.05);
}

.fs-smaller {
    font-size: smaller;
}
